.wrapper {
  background-color: var(--purple-100);
  border-radius: 10px;
  padding: 25px;
  width: calc(100vw - 100px);
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      h1 {
        color: var(--white-200);
        font-size: var(--font-l);
        font-weight: var(--font-600);
      }

      p {
        color: var(--white-200);
        font-size: var(--font-m);
        font-weight: var(--font-300);
      }
    }
  }

  .weather-icon-wrapper {
    img {
      width: 150px;
    }
  }

  .weather-details-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .weather-temp {
      color: var(--white-200);
      position: relative;
      font-size: var(--font-xxl);
      font-weight: var(--font-700);

      span {
        position: absolute;
        right: -30px;
        top: 5px;
        font-size: var(--font-l);
        font-weight: var(--font-500);
      }
    }
  }
}
