<div class="wrapper">
  <div class="city-select-wrapper">
    <nx-weather-ws-weather-city-select
      (selectCity)="handleSelectedCity($event)"
      [availableCities]="cities"
      [selectedCity]="(getSelectedCity$ | async)"
    >
    </nx-weather-ws-weather-city-select>
  </div>

  <ng-container *ngIf="{details: getWeatherView$ | async} as vm">
    <nx-weather-ws-weather-card
      *ngIf="vm.details"
      [loading]="vm.details.isLoading"
      [details]="vm.details.details"
      [error]="vm.details.error"
    >
    </nx-weather-ws-weather-card>
  </ng-container>
</div>
