.wrapper {
  position: relative;

  .select-dropdown-wrapper {
    z-index: 100;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: var(--grey-300);
    border-radius: 10px;
    padding: 1rem;
    overflow: auto;
    transform: translateX(-100%);
    opacity: 0;
    height: calc(100vh - 175px);
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
