<div class="wrapper">
  <nx-weather-ws-ui-button
    (click)="toggleSelectDropdown($event)"
    [iconName]="'gg-pin'"
    [label]="selectedCity"
    [name]="'localize'"
  ></nx-weather-ws-ui-button>

  <div
    *ngIf="isSelectDropdownVisible"
    class="select-dropdown-wrapper slide-in"
    [ngClass]="{
      'slide-out': !isSelectDropdownVisible,
      'slide-in': isSelectDropdownVisible
    }"
  >
    <ng-container *ngFor="let city of availableCities">
      <nx-weather-ws-ui-button
        (click)="handleSelectedCity($event, city)"
        [label]="city"
      ></nx-weather-ws-ui-button>
    </ng-container>
  </div>
</div>
