<div class="wrapper">
  <div class="header-wrapper"></div>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer-wrapper">
    <p>Made with <span class="heart">❤</span> while learning Angular.</p>
    <div class="credits">
      <a
        href="https://www.amcharts.com/free-animated-svg-weather-icons/"
        target="_blank"
        >Weather icons credits</a
      >
      <a href="https://openweathermap.org/api/" target="_blank"
        >Weather API credits</a
      >
    </div>
  </footer>
</div>
