<div class="wrapper">
  <div class="city-select-wrapper">
    <nx-weather-ws-card-wrapper
      [title]="'Select your city'"
      [isRefreshAvailable]="false"
    >
      <nx-weather-ws-weather-city-select
        (selectCity)="handleSelectedCity($event)"
        [availableCities]="cities"
        [selectedCity]="getSelectedCity$ | async"
      >
      </nx-weather-ws-weather-city-select>
    </nx-weather-ws-card-wrapper>
  </div>

  <div class="weather-cards-wrapper">
    <ng-container
      *ngIf="{
        details: (getSimpleWeatherView$ | async),
        selectedCity: (getSelectedCity$ | async)
      } as vm"
    >
      <nx-weather-ws-card-wrapper
        *ngIf="vm.details && vm.selectedCity"
        [title]="'weather'"
        [isLoading]="vm.details.isLoading"
      >
        <nx-weather-ws-weather-card
          (refreshData)="fetchWeatherDetails(vm.selectedCity)"
          [loading]="vm.details.isLoading"
          [details]="vm.details.details"
          [error]="vm.details.error"
        >
        </nx-weather-ws-weather-card>
      </nx-weather-ws-card-wrapper>
    </ng-container>

    <ng-container
      *ngIf="{
        forecast: (getSimpleDailyForecastFor7DaysView$ | async)
      } as view"
    >
      <nx-weather-ws-card-wrapper
        *ngIf="view.forecast"
        [title]="'forecast'"
        [isLoading]="view.forecast.isLoading"
      >
        <nx-weather-ws-forecast-card
          (refreshData)="fetchDailyForecastFor7Days()"
          [loading]="view.forecast.isLoading"
          [forecasts]="view.forecast.daily"
          [error]="view.forecast.error"
          [title]="'Daily forecast for 7 days'"
          [description]="'day by day'"
        >
        </nx-weather-ws-forecast-card>
        <nx-weather-ws-forecast-card
          (refreshData)="fetchDailyForecastFor7Days()"
          [loading]="view.forecast.isLoading"
          [forecasts]="view.forecast.hourly"
          [error]="view.forecast.error"
          [title]="'Daily forecast for 7 days'"
          [description]="'hour by hour'"
        >
        </nx-weather-ws-forecast-card>
      </nx-weather-ws-card-wrapper>
    </ng-container>
  </div>
</div>
